[Unit]
Description=VC3 Information Service
After=network-online.target 
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/vc3-infoservice
#ExecStart=/usr/bin/vc3-infoservice --conf /etc/vc3/vc3-infoservice.conf $OPTIONS
ExecStart=/etc/init.d/vc3-infoservice start
ExecStop=/etc/init.d/vc3-infoservice stop
ExecReload=/etc/init.d/vc3-infoservice restart

Restart=on-failure

[Install]
WantedBy=multi-user.target
